<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleAllowMixedLocalizations</key>
        <true/>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.7</string>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>CFBundleIdentifier</key>
        <string>FlashToOutput</string>
        <key>CFBundleGetInfoString</key>
        <string>1.0.0,</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>
        <key>CFBundleVersion</key>
        <string>1.0.0</string>
        <key>CFBundleName</key>
        <string>FlashToOutput</string>
        <key>CFBundleDisplayName</key>
        <string>FlashToOutput</string>
        <key>NSHumanReadableCopyright</key>
        <string/>
        <key>CFBundleExecutable</key>
        <string>FlashToOutput</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>MacOSX</string>
        </array>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>NSHighResolutionCapable</key>
        <false/>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>swf</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>application/x-shockwave-flash</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Flash SWF Animation</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
            </dict>
        </array>
    </dict>
</plist>
